<%- include Partials/header.ejs %>

<body>
  
<%- include Partials/main_nav.ejs %>


<!-- Main Content--->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4"> Welcom to <%= title %> page </h1>

  <div>
   <h3>About me </h3>
   <p>My name is Shaqayeq Salimy. <br>
    My background is in Computer Engineering. Currently, I studying Software Engineering. <br>
    I want to work in a company to be an impact there.

   </p>
  </div>
</div>
</main>


  


<%- include Partials/bottom_nav.ejs %>


<%- include Partials/footer.ejs %>
   
  
  
</body>
</html>
