<%- include Partials/header.ejs %>

<body>
  
<%- include Partials/main_nav.ejs %>


<!-- Main Content--->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4"> Welcom to <%= title %> page </h1>

  <div> My name is Shaqayeq Salimy</div>
</div>
</main>


  


<%- include Partials/bottom_nav.ejs %>


<%- include Partials/footer.ejs %>
   
  
  
</body>
</html>
