<%- include Partials/header.ejs %>

<body>
  
<%- include Partials/main_nav.ejs %>


<!-- Main Content--->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4"> Welcom to <%= title %> page </h1>

  <div> 
    <h3>Project page</h3> 
    
    
   
    <p>
      <a href="http://studentweb.cencol.ca/ssalimy/Ass06/Assignment6.html"> <h4>Project 1</h4></a>
    </p>

    
    <p>
      <a href="http://studentweb.cencol.ca/ssalimy/Ass05/Assignment5.html"><h4>Project 2</h4></a>
    </p>
    
    
    <p>
      <a href="http://studentweb.cencol.ca/ssalimy/Ass03/photos.htm"><h4>Project 3</h4></a>
    </p>
    


    

  </div>
</div>
</main>


  


<%- include Partials/bottom_nav.ejs %>


<%- include Partials/footer.ejs %>
   
  
  
</body>
</html>
