<%- include Partials/header.ejs %>

<body>
  
<%- include Partials/main_nav.ejs %>


<!-- Main Content--->
<main class="container">
<div class="jumbotron">
  <h1 class="display-4"> Welcom to <%= title %> page </h1>

  <div>
     <h3>service page<h3>
       <p>
         <h4>Strong skills in</h4>
         <ul>
           <li>	JavaScript</li>
           <li>	jQuery</li>
           <li>	PHP</li>
           <li>	ASP</li>
           <li>	NET</li>
           <li>	HTML</li>
           <li>	CSS</li>
           <li>	MySQL</li>
           <li>	jQuery</li>
           <li>	SQL server</li>
           <li>	Adobe Dream Weaver</li>
           <li>	Bootstrap</li>
           <li>	 WordPress</li>
           <li>	Angular</li>
         </ul>
       </p>

  </div>
</div>
</main>


  


<%- include Partials/bottom_nav.ejs %>


<%- include Partials/footer.ejs %>
   
  
  
</body>
</html>
